html {
  background-color: darkslategray;
}

.main {
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  align-self: center;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  height: 100vh;
}

.header {
  width: 95%;
  text-align: center;
  border-bottom: 2px solid #000;
  margin-left: auto;
  margin-right: auto;
}

.header p {
  font-size: 2vw;
  font-weight: bold;
  margin: .3em;
}

.map-table {
  flex-direction: row;
  min-height: 0;
  max-width: 95vw;
  max-height: 85vh;
  column-gap: 5px;
  padding: 5px;
}

.mapTableMap {
  position: relative;
  min-height: 0;
  max-height: 100%;
}

.react-transform-wrapper {
  border-radius: 5px;
}

.map-table Canvas {
  flex: auto;
  border-radius: 5px;
  max-width: 100%;
  max-height: 85vh;
  background: url('jpMap_2261x2492.png');
  background-size: contain;
}

.sidePanel {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  z-index: 2;
  position: absolute;
  top: 1%;
  left: 1%;
  gap: 5px;
  width: 200px;
  min-width: 0;
  max-width: 10vw;
  max-height: 100%;
}

.sidePanelCollapseButton {
  width: calc(100% - 5px);
  cursor: pointer;
  padding: .45em .75em .35em .75em;
  border: 1px solid grey;
  border-radius: 5px;
  margin: auto;
}

.mapTableSidePanelImg {
  flex: 0 0 auto;
  border-radius: 5px;
  max-width: 100%;
  max-height: 100%;
}

.indexPanel {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  z-index: 2;
  position: absolute;
  bottom: 1%;
  right: 1%;
  gap: 5px;
  width: 200px;
  min-width: 0;
  max-width: 10vw;
  max-height: 100%;
}

.indexPanelImg {
  flex: 0 0 auto;
  border-radius: 5px;
  max-width: 100%;
  max-height: 100%;
}

.indexPanel p {
  font-size: .61em;
  font-weight: bold;
  margin: auto;
  white-space: nowrap;
  text-align: center;
}

.awsIconsPanel {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.awsIconsPanel img {
  flex: 0 1 auto;
  border-radius: 9px;
  min-width: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  padding-right: 1px;
  padding-left: 1px;
}

.tourVehicleInterface {
  display: flex;
  flex-flow: column nowrap;
  z-index: 2;
  position: absolute;
  bottom: 1%;
  left: 1%;
  -webkit-font-smoothing: antialiased;
  width: 15%;
}

.tourVehicleButton {
  display: flex;
}

.tourVehicleButton img {
  flex: 0 1 auto;
  min-width: 75px;
  padding: .75em;
  cursor: pointer;
}

.tourVehicleButton p {
  font-size: .95em;
  text-transform: uppercase;
  font-weight: 600;
  margin: auto;
}

.mapZoomControls {
  display: flex;
  z-index: 2;
  position: absolute;
  bottom: 0px;
  left: 49%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-font-smoothing: antialiased;
}

.mapZoomControlBtn {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  padding: .45em .75em .35em .75em;
  background: white;
  border: 1px solid grey;
  border-radius: 5px;
  margin-right: 8px;
  margin-left: 8px;
  -webkit-font-smoothing: antialiased;
}

.events-table {
  flex-direction: row;
  flex: 1 0 40vw;
  min-width: 810px;
  width: 95%;
  max-width: 50vw;
  margin-top: auto;
  margin-bottom: auto;
}

.events-table iframe {
  height: 700px;
  min-height: 700px;
  max-height: 80vh;
  width: calc(100% - 10px);
}

.footer {
  width: 95%;
  display: grid;
  text-align: center;
  border-top: 2px solid #000;
  margin-left: auto;
  margin-right: auto;
}

.footer p {
  margin: .3em;
}
