html {
  background-color: darkslategray;
}

.main {
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  align-self: center;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  height: 100vh;
}

.header {
  width: 95%;
  text-align: center;
  border-bottom: 2px solid #000;
  margin-left: auto;
  margin-right: auto;
}

.header p {
  font-size: 2vw;
  font-weight: bold;
  margin: .3em;
}

.map-table {
  flex-direction: column;
  flex: 0 0 100vh;
  min-height: 0;
  max-width: 95vw;
  max-height: 85vh;
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 5px;
  padding: 5px;
}

.mapTableSidePanel {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  min-width: 0;
  max-height: 100%;
  text-align: center;
}

.mapTableSidePanelImg {
  flex: 0 0 auto;
  border-radius: 5px;
  max-width: 100%;
  max-height: 100%;
}

.mapTableSidePanel p {
  font-size: 1vw;
  font-weight: bold;
  margin: auto;
  white-space: nowrap;
}

.awsIconsPanel {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
}

.awsIconsPanel a {
  width: 100%;
  height: 100%;
  margin: .25vw;
}

.awsIconsPanel img {
  flex: auto;
  border-radius: 5px;
  min-width: 0;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  margin: auto;
}

.mapTableMap {
  position: relative;
  grid-column: 2/3;
  grid-row: 1/2;
  min-height: 0;
  max-height: 100%;
}

.react-transform-wrapper {
  border-radius: 5px;
}

.map-table Canvas {
  border-radius: 5px;
  max-width: 100%;
  max-height: 100%;
  background: url('jpMap_2261x2492.png');
  background-size: contain;
}

.tourVehicleInterface {
  display: flex;
  flex-flow: column nowrap;
  z-index: 2;
  position: absolute;
  bottom: 2%;
  left: 1%;
  -webkit-font-smoothing: antialiased;
}

.tourVehicleInterface img {
  flex: 0 1 auto;
  padding: 2.5px;
}

.mapZoomControls {
  display: flex;
  z-index: 2;
  position: absolute;
  bottom: 0px;
  left: 55%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-font-smoothing: antialiased;
}

.mapZoomControlBtn {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  padding: .25em .5em;
  background: white;
  border: 1px solid grey;
  border-radius: 5px;
  margin-right: 5px;
  margin-left: 5px;
  -webkit-font-smoothing: antialiased;
}

.events-table {
  flex-direction: row;
  flex: 1 0 40vw;
  min-width: 810px;
  max-width: 95vw;
  margin-top: auto;
  margin-bottom: auto;
  padding: 5px;
}

.events-table iframe{
  height: 710px;
  max-height: 80vh;
  width: calc(100% - 5px);
}

.footer {
  width: 95%;
  display: grid;
  text-align: center;
  border-top: 2px solid #000;
  margin-left: auto;
  margin-right: auto;
}

.footer p {
  margin: .3em;
}
