html {
  background-color: darkslategray;
}

.main {
  display: flex;
  min-width: 320;
  width: 95vw;
  max-width: 1390px;
  max-height: 70vh;
  flex-flow: row wrap;
  margin: auto;
  align-self: center;
}

.header {
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #000;
}

.map-table {
  min-width: 400px;
  max-width: 67%;
  display: grid;
  margin: auto;
  column-gap: 5px;
  grid-template-columns: 1fr 3fr;
  padding-top: 5px;
}

.map-table img,button {
  margin: auto;
  border-radius: 5px;
  width: 100%;
  justify-content: center;
}

.map-table Canvas {
  border-radius: 5px;
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.mapCell1 {
  margin-top: auto;
  grid-column: 1/2;
  grid-row: 1/2;
}

.mapCell2 {
  margin: auto;
  grid-column: 1/2;
  grid-row: 2/3
}

.mapCell3 {
  margin-bottom: auto;
  grid-column: 1/2;
  grid-row: 3/4;
}

.mapCellMap {
  margin: auto;
  grid-column: 2/3;
  grid-row: 1/4;
}

.mapZoomControls {
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 130%;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  z-index: 2;
  transform: translate(10px, 10px);
  max-width: calc(100% - 20px);
}

.mapZoomControlBtn {
  -webkit-font-smoothing: antialiased;
  padding: 6px 12px;
  background: white;
  border: 1px solid grey;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}

.events-table {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 400px;
  margin: auto;
}

.events-table iframe{
  width: 100%;
}

.footer {
  width: 100%;
  display: grid;
  text-align: center;
  border-top: 2px solid #000;
}
